* {
    box-sizing: border-box;
    --theme-danger: #f56c6c;
}
$theme-color: #54C67D;
$theme-light-color: #3BBA7D;
$theme-text-color: #fff;

@mixin flex-layout($x: none, $y: none, $wrap: none) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    flex-wrap: $wrap;
}
